<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="/images/logo-mercado-liebre.svg" class="logo" alt="">
                
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
                
                <div class="buscador">
                    <input class="input1" type="search" name="" id="" placeholder="Buscar productos">
                    <i class="fas fa-search"></i> <br>
                </div>
                    
                    
            </div>
            <a href="#" class="hamburger-buttom">
                <i class="fa-solid fa-bars"></i>
            </a>
            
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="rigth-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
             
            </nav>
    
        </header>
       <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main class="register">
            <form action="/" method="POST">
                <input type="text" name="name" placeholder="Nombre y apellido">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="email" name="email" placeholder="E-mail">
                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="birth_date" id="birth_date">
                <br>
                <input type="text" name="addres" placeholder="Domicilio">
                <h4>Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>

                <h4>Intereses</h4>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
                
                <h4>Elegí tu foto de usuario</h4>
                <input type="file" name="avatar">
                <br>
                <br>
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <br>
                <br>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
                <br>
                <br>
            </form>
        </main>
       
            <footer>
                <div class="tarjeta">
                     <i class="fas fa-credit-card"></i> <br>
                     <h4 class="titulares">Pagá con tarjeta o en efectivo</h4> <br>
                     <p class="descripciones">Con Mercado liebre Cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
                 </div>
                 
                 <div class="regalo">
                     <i class="fas fa-gift"></i> <br>
                     <h4 class="titulares">Envio gratis desde los $2.500</h4> <br>
                     <p class="descripciones">Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado puntos.</p>
                 </div>
                 
                 <div class="seguridad">
                     <i class="fas fa-shield-alt"></i> <br>
                     <h4 class="titulares">Seguridad de principio a fin</h4> <br>
                     <p class="descripciones">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
                 </div> <br>
            </footer> 
                 <div class="copyrigth">
                     <p class="final"> Copyrigth © 1999-2020 MercadoLiebre S.R.L. </p>
                 </div>
        
    </body>
</html>